{% extends '::base.html.twig' %}
{% block javascripts %}
    {{ parent() }}
{% endblock %}
{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('/bundles/landmarxlandmark/css/landmarks.css') }}" />
{% endblock %}
{% block content %}
    <h2>{{ "landmark kinds" | title }}</h2>
    {{ kinds | length }}
    <ul>
        {% for kind in kinds %}
        <li>
            {{ kind.name | title }}
            <p>{{ kind.description }}</p>
        </li>
        {% endfor %}
    </ul>
{% endblock %}