{% extends 'LandmarxUtilityBundle:Overlay:sidebar.html.twig' %}

{% block overlay_title %}{{ "landmarks" | title }}{% endblock %}

{% block overlay_body_content %}
	<ul>
	{% for landmark in landmarks %}
		{% block landmark %}
			{%- set orientation = landmark is even ? 'even' : 'odd' %}
			<li class="landmark {{ orientation }}">
				{% block landmark_icon %}
				<i class="icon icon-{{ landmark.type.slug }}"></i>
				{% endblock %}
				{% block landmark_title %}
				<h3>{{ landmark.name | title }}</h3>
				{% endblock %}
				{{ block('divider') }}
				{% block landmark_type %}
				<h1>{{ landmark.type | title }}</h1>
				{% endblock %}
			</li>
		{% endblock %}
	{% else %}
		<li> no landmarks found.</li>
	{% endfor %}
	</ul>
{% endblock %}

{% block divider %}<hr />{% endblock %}

{% block overlay_footer_content %}

{% endblock %}