{% extends '::base.html.twig' %}
{% block javascripts %}
    {{ parent() }}
    <script type="text/javascript" src="http://maps.google.com/maps/api/js?sensor=true"></script>
    <script type="text/javascript" src="{{ asset('/bundles/landmarxlandmark/js/gmaps.js') }}"></script>
    <script type="text/javascript">
        $(document).ready(function() {
            map = new GMaps({
                div: '#map',
                lat: {{ current[0] }},
                lng: {{ current[1] }},
                MapTypeId: google.maps.MapTypeId.TERRAIN,
                disableDefaultUI: true,
            });
        });
    </script>
{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('/bundles/landmarxutility/css/index.css') }}" />
    <link rel="stylesheet" href="{{ asset('/bundles/landmarxlandmark/css/landmark.css') }}" />
    <link rel="stylesheet" href="{{ asset('/bundles/landmarxlandmark/css/map.css') }}" />
{% endblock %}

{% block content %}
    {% block gmap %}
    <div id="map"></div>
    {% endblock %}
    {% block info_overlay %}
    <div id="info-overlay-wrapper">
        <div class="info-overlay-bg"></div>
        <div id="info-overlay">
            <h2>{{ "landmarks nearby" | title }}</h2>
            <ul>
                {% for landmark in landmarks %}
                <li>{{ landmark | title }}</li>
                {% endfor %}
            </ul>
        </div>
    </div>
    {% endblock %}
{% endblock %}
