{% extends '::base.html.twig' %}

{% block javascripts %}
    {{ parent() }}
{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <link href="{{ asset('/bundles/landmarxuser/css/new.css') }}" rel="stylesheet" />
    <link href="{{ asset('/bundles/landmarxuser/css/form.css') }}" rel="stylesheet" />
    <link href="{{ asset('/bundles/landmarxlandmark/css/landmark.css') }}" rel="stylesheet" />
{% endblock %}

{% block content %}
    <div id="form-container">
        <fieldset>
            <h2>{{ 'add a landmark' | title }}</h2>
            <form action="{{ path('landmarx_landmark_new') }}" method="post" {{ form_enctype(form) }}>
                {% block form %}
                <div id="form-errors" class="hidden">
                    {{ form_errors(form) }}
                </div>
                <div class="row-fluid">
                    <div id="left-pane">
                        <div class="control-group slider">
                            {{ form_row(form.name) }}
                        </div>
                        <div class="control-group slider">
                            {{ form_row(form.description) }}
                        </div>
                        <div class="control-group slider">
                            {{ form_row(form.parent) }}
                        </div>
                        <div class="control-group slider">
                            {{ form_row(form.type) }}
                        </div>
                        <div class="control-group slider">
                            {{ form_row(form.categories) }}
                        </div>
                        <div class="control-group slider">
                            {{ form_row(form.public) }}
                        </div>
                    </div>
                    <div class="right-pane">
                        <div class="control-group">
                            {{ form_row(form.latlng) }}
                        </div>
                        <div class="control-group slider">
                            {{ form_rest(form) }}
                        </div>
                    </div>
                    <div class="control-group slider">
                        <button class="btn btn-primary btn-block" name="submit">{{ 'add' | title }}</button>
                    </div>
                </div>
                {% endblock %}
            </form>
        </fieldset>
    </div>
{% endblock %}
