{% macro attributees(attribute) %}
    {% for name, value in attributes %}
        {%- if value is not none and value is not sameas(false) -%}
            {{- '%s = "%s"'| format(name, value is sameas(true) ? name|e : value|e)| raw -}}
    {% endfor %}
{% endmacro %}

{% block modal %}
    {%- set classes = modal.attribute('class') is not empty ? [modal.attribute('class')]: [] %}
    
    {%- set attributes = modal.attributes %}
    
    {%- if classes is not empty %}
        {%- set attributes = attributes|merge({'class': classes|join(' ')}) %}
    {% endif %}

    {% import self as landmarx_modal %}

    <div class="modal {{ landmarx_modal.attribute('class') }}">
        {% block modal_dialog %}
        <div class="modal-dialog">
            {% block modal_content %}
            <div class="modal-content">
                {{ block('modal_header') }}
                {{ block('modal_body') }}
                {{ block('modal_footer') }}
            </div>
            {% endblock %}
        </div>
        {% endblock %}
    </div>
{% endblock %}

{% block modal_header %}
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title">{{ block('modal_title') }}</h4>
    </div>
{% endblock %}

{% block modal_body %}
    <div class="modal-body">
        {% block modal_main_content %}{% endblock %}
    </div>
{% endblock %}

{% block modal_footer %}
    <div class="modal-footer">
        {% block buttons %}
            {% block close_btn %}
            <button type="button" class="btn btn-default" data-dismiss="modal">{% block close_btn_text %}{{'close' | title }}{% endblock %}</button>
            {% endblock %}
        <button type="button" class="btn btn-primary">{% block primary_btn_text %}{{'save changes'| title }}{% endblock %}</button>
        {% endblock %}
    </div>
{% endblock %}