{% extends '::base.html.twig' %}

{% block javascripts %}
    {{ parent() }}
{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('/bundles/landmarxutility/css/index.css') }}" />
    <link rel="stylesheet" href="{{ asset('/bundles/landmarxattribute/css/attribute.css') }}" />
{% endblock %}

{% block content %}
    <ul>
    {% for attribute in attributes %}
        <li>{{ attribute }}</li>
    {% else %}
        <li>no attributes found.</li>
    {% endfor %}
    </ul>
{% endblock %}
